<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.CarMapper">
        <select id="selectByCarType" resultType="aaa">
                select id,car_num as carNum,brand,guide_price as guidePrice,produce_time as produceTime,car_type as carType from t_car
                where car_type = ${carType}
        </select>

        <select id="selectAllByAscOrDesc" resultType="aaa">
                select id,car_num as carNum,brand,guide_price as guidePrice,produce_time as produceTime,car_type as carType from t_car
                order by guidePrice ${ascOrDesc}
        </select>
        <delete id="deleteBarch">
                delete from t_car where id in (${ids})
        </delete>
        <select id="selectByBrandLike" resultType="aaa">
                select id,car_num as carNum,brand,guide_price as guidePrice,produce_time as produceTime,car_type as carType from t_car
                where produce_time like #{produceTime}
        </select>

        <!-- useGeneratedKeys="true" 表示使用自动生成的主键值-->
        <!-- keyProperty指定主键值赋值给对象(插入的时候传进来的哪个对象)的哪个属性 -->
        <insert id="insertCarAndgetGeneratedKey" useGeneratedKeys="true" keyProperty="id">
                insert into t_car values(null,#{carNum},#{brand},#{guidePrice},#{produceTime},#{carType})
        </insert>
</mapper>